.metabox_field {
    padding:.2em 0 .3em;
}

img.jds_core_preview_image {
    max-width:150px; 
    max-height:150px;
    margin:.5em;
}

.jds_core_preview_container p {
    margin:0;
    padding:0;
}

.postbox .jds_core_preview_container p {
    
}

.jds_core_textbox.readonly {
	border:1px solid #aaa;
	margin-top:.3em;
}

.jds_core_textarea.readonly {
	border:1px solid #aaa;
	background:#eee;
}

.jds_core_preview_container {
    width:180px;
    text-align:center;
    margin:.5em 0 1em 0;
    background:#eee;
    padding:0 0 .5em 0;
    border:1px solid #aaa;
}

.jds_core_image_upload_buttons_container {
    display:inline;
    padding-top:1px;
}

.ui-slider {
    width:90%;
    margin-left:1em;
    display:inline-block;
    *display:inline;
    zoom:1;
    min-width:100px;
    z-index: 0;
}

.jds_core_move_right {
    margin-left:200px;
}

/* field types */

.jds_core_label {
    font-weight:bold;
    vertical-align:middle;
    padding-bottom:.25em;
}

.jds_core_label.child_label {
    display:block;
    float:none;
    padding-top:1em;
}

.repeat_block .jds_core_label.child_label:nth-of-type(1) {
	padding-top:0;	
}

#side-sortables .jds_core_label {
    display:block;
    float:none;
}

.jds_core_pulldown, .jds_core_postlist {
    min-width:150px;
    vertical-align:middle;
}

.jds_core_button {
    margin-left:1em;
    vertical-align:middle;
    padding:.3em .75em;
}

.postbox  .jds_core_field_container, .postbox , .postbox .repeat_button {
    vertical-align:middle;
    margin-left:16px;
}

.jds_core_field_container .is_child {
	margin-left:0;
}

.postbox .repeat_block_holder .repeat_block_holder,
.postbox .repeat_block_holder .jds_core_field_container,
.postbox .repeat_block_holder .repeat_button
{
    margin-left:0;
}

.postbox .repeat_block_holder .repeat_block_holder
{
	margin-top:0;
}
#side-sortables .jds_core_field_container {
    margin:1em 0;
}
.jds_core_textarea{
    width:95%;
    height:125px;
    margin-bottom:1em;
}
.jds_core_field_holder {
    margin-bottom:1em;
    overflow:auto;
}

.slider_holder {
    min-width:500px;
}

.slider_holder .repeatable_remove_button {
    float:left;
    margin-left:1em;
}

.jds_core_field_holder * {
    vertical-align:middle;
}

.slider_ui_container {
    overflow:auto;
    margin-left:175px;
    padding:1px;
}
.jds_core_field_container {
    overflow:auto;
}
.jds_core_slider {
    display:inline-block;
    *display: inline;
    zoom:1;
    float:left;
    width:150px;
}

.jds_core_textbox {
    width: 200px;
}

.repeat_button {
    display:inline;
    padding: .5em;
    margin:1em 1em 1em 0;
}

.repeat_button:hover {
    cursor:pointer;
}

.repeat_button_container
{
    border-top:1px solid #ccc;
    margin-top:1em;
}

.repeatable_remove_button, .small {
    font-size:90%;
}

.repeat_block {
    display:block;
    position:relative;
    padding:1em 1em 1em 1em;
}

.repeat_block_holder {
    border:1px solid #ddd;
    padding: 1em;
}

.repeat_block_holder .repeat_block_holder {
	border:none;
	border-left:3px solid #ddd;
}

.repeat_block.odd
{
    background:#fafafa;
    border:1px solid #dadada;
    margin-top:-1px;
}

.repeat_block.even
{
    background:#f2f2f2;
    border:1px solid #dddddd;.
    margin-top:-1px;
}

.repeat_block.is_child.odd 
{
    background: #f5f5f5;
    margin-bottom:-1px;
}

.repeat_block.is_child.even
{
    background: #fefefe;
    margin-bottom:-1px;
}

.tip {
	color:#2a2a2a;
	font-style:italic;
}

.repeat_box_handle {
    position:relative;
    line-height:1em;
    height:1em;
    padding:1px 0 3px 0;
    color:#888;
    vertical-align:middle;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    margin:-1em 4em 1em -1em;
    display:block;
    background:#d5d5d5;
}

.repeat_box_handle:hover {
    background:#bababa;
}

.repeat_box_handle .icon {
    position:absolute;
    top:1px;
    left:1em;
    color:#555;
}

.repeat_block .up {
    position:absolute;
    top:1px;
    right:1em;
    color: #888;
}

.repeat_block .up:hover,
.repeat_block .down:hover {
    cursor:pointer;
    color:#555;
}

.repeat_block .down {
    position:absolute;
    top:1px;
    right:3em;
    color: #888;
}

.ui-state-highlight {
    background:orange;
}

table.less_variables {
}