@black: #FF66FA;
@grayDarker: #222222;
@grayDark: #333333;
@gray: #555555;
@grayLight: #999999;
@grayLighter: #EEEEEE;
@white: #FFFFFF;
@blue: #049CDB;
@blueDark: #0064CD;
@green: #46A546;
@red: #9D261D;
@yellow: #FFC40D;
@orange: #F89406;
@pink: #C3325F;
@purple: #7A43B6;
@bodyBackground: @white;
@textColor: @grayDark;
@linkColor: #0088CC;
@linkColorHover: darken(@linkColor, 15%);
@sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace;
@baseFontSize: 14px;
@baseFontFamily: @sansFontFamily;
@baseLineHeight: 20px;
@altFontFamily: @serifFontFamily;
@headingsFontFamily: inherit;
@headingsFontWeight: bold;
@headingsColor: inherit;
@fontSizeLarge: @baseFontSize * 1.25;
@fontSizeSmall: @baseFontSize * 0.85;
@fontSizeMini: @baseFontSize * 0.75;
@paddingLarge: 11px 19px;
@paddingSmall: 2px 10px;
@paddingMini: 0 6px;
@baseBorderRadius: 4px;
@borderRadiusLarge: 6px;
@borderRadiusSmall: 3px;
@tableBackground: transparent;
@tableBackgroundAccent: #F9F9F9;
@tableBackgroundHover: #F5F5F5;
@tableBorder: #DDDDDD;
@btnBackground: @white;
@btnBackgroundHighlight: darken(@white, 10%);
@btnBorder: #CCCCCC;
@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 20%);
@btnInfoBackground: #5BC0DE;
@btnInfoBackgroundHighlight: #2F96B4;
@btnSuccessBackground: #62C462;
@btnSuccessBackgroundHighlight: #51A351;
@btnWarningBackground: lighten(@orange, 15%);
@btnWarningBackgroundHighlight: @orange;
@btnDangerBackground: #EE5F5B;
@btnDangerBackgroundHighlight: #BD362F;
@btnInverseBackground: #444444;
@btnInverseBackgroundHighlight: @grayDarker;
@inputBackground: @white;
@inputBorder: #CCCCCC;
@inputBorderRadius: @baseBorderRadius;
@inputDisabledBackground: @grayLighter;
@formActionsBackground: #F5F5F5;
@inputHeight: @baseLineHeight + 10px;
@dropdownBackground: @white;
@dropdownBorder: rgba(0,0,0,.2);
@dropdownDividerTop: #E5E5E5;
@dropdownDividerBottom: @white;
@dropdownLinkColor: @grayDark;
@dropdownLinkColorHover: @white;
@dropdownLinkColorActive: @white;
@dropdownLinkBackgroundActive: @linkColor;
@dropdownLinkBackgroundHover: @dropdownLinkBackgroundActive;
@zindexDropdown: 1000;
@zindexPopover: 1010;
@zindexTooltip: 1030;
@zindexFixedNavbar: 1030;
@zindexModalBackdrop: 1040;
@zindexModal: 1050;
@iconSpritePath: "../img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";
@placeholderText: @grayLight;
@hrBorder: @grayLighter;
@horizontalComponentOffset: 180px;
@wellBackground: #F5F5F5;
@navbarCollapseWidth: 979px;
@navbarCollapseDesktopWidth: @navbarCollapseWidth + 1;
@navbarHeight: 40px;
@navbarBackgroundHighlight: #FFFFFF;
@navbarBackground: darken(@navbarBackgroundHighlight, 5%);
@navbarBorder: darken(@navbarBackground, 12%);
@navbarText: #777777;
@navbarLinkColor: #777777;
@navbarLinkColorHover: @grayDark;
@navbarLinkColorActive: @gray;
@navbarLinkBackgroundHover: transparent;
@navbarLinkBackgroundActive: darken(@navbarBackground, 5%);
@navbarBrandColor: @navbarLinkColor;
@navbarInverseBackground: #111111;
@navbarInverseBackgroundHighlight: #222222;
@navbarInverseBorder: #252525;
@navbarInverseText: @grayLight;
@navbarInverseLinkColor: @grayLight;
@navbarInverseLinkColorHover: @white;
@navbarInverseLinkColorActive: @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover: transparent;
@navbarInverseLinkBackgroundActive: @navbarInverseBackground;
@navbarInverseSearchBackground: lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus: @white;
@navbarInverseSearchBorder: @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor: #CCCCCC;
@navbarInverseBrandColor: @navbarInverseLinkColor;
@paginationBackground: #FFFFFF;
@paginationBorder: #DDDDDD;
@paginationActiveBackground: #F5F5F5;
@heroUnitBackground: @grayLighter;
@heroUnitHeadingColor: inherit;
@heroUnitLeadColor: inherit;
@warningText: #C09853;
@warningBackground: #FCF8E3;
@warningBorder: darken(spin(@warningBackground, -10), 3%);
@errorText: #B94A48;
@errorBackground: #F2DEDE;
@errorBorder: darken(spin(@errorBackground, -10), 3%);
@successText: #468847;
@successBackground: #DFF0D8;
@successBorder: darken(spin(@successBackground, -10), 5%);
@infoText: #3A87AD;
@infoBackground: #D9EDF7;
@infoBorder: darken(spin(@infoBackground, -10), 7%);
@tooltipColor: #FFFFFF;
@tooltipBackground: #000000;
@tooltipArrowWidth: 5px;
@tooltipArrowColor: @tooltipBackground;
@popoverBackground: #FFFFFF;
@popoverArrowWidth: 10px;
@popoverArrowColor: #FFFFFF;
@popoverTitleBackground: darken(@popoverBackground, 3%);
@popoverArrowOuterWidth: @popoverArrowWidth + 1;
@popoverArrowOuterColor: rgba(0,0,0,.25);
@gridColumns: 12;
@gridColumnWidth: 60px;
@gridGutterWidth: 20px;
@gridRowWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));
@gridColumnWidth1200: 70px;
@gridGutterWidth1200: 30px;
@gridRowWidth1200: (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));
@gridColumnWidth768: 42px;
@gridGutterWidth768: 20px;
@gridRowWidth768: (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));
@fluidGridColumnWidth: percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth: percentage(@gridGutterWidth/@gridRowWidth);
@fluidGridColumnWidth1200: percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200: percentage(@gridGutterWidth1200/@gridRowWidth1200);
@fluidGridColumnWidth768: percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768: percentage(@gridGutterWidth768/@gridRowWidth768);
